*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: conic-gradient(red 210deg,yellow 60deg,black) */
    
}
  /* Define styles for the container */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
  }

  /* Style the service section */
  .service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* background-image:linear-gradient(45deg, #ff00a9, #00fff7b1); */
  }

  /* Style the service card */
  .service-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    /* margin-bottom:10px; */
  }

  /* Style the service icon */
  .service-icon {
    font-size: 30px;
  }

  /* Style the service title */
  .service-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* Style the service description */
  .service-card p {
    font-size: 16px;
    color: #666;
  }
  .copyright{
    margin-top: 20px;
  }
.cta-button {
    display:inline-block;
    padding: 10px 30px;
    background-color: #fff;
    color: #ff00a9;
    text-decoration: none;
    border-radius:30px;
    transition: background-color 0.5s ease;
    transition: 2s;
    margin-left: 30px;
    font-size: 20px;
    border: 1px solid black;
}

.cta-button:hover {
    background-color: #86316a;
    color: #fff;
    transition: transform 0.5s ease;
    transform: scale(1.1);

}
